#==============================================================================
# PROGRAM = 'zero.config'
# VERSION = '2.104.271'
# CONTACT = 'bright.tiger@gmail.com'
#
# some possible values for RelayGpio:
#
#   RelayGpio = 23 # pin 16 / for real external relay control
#   RelayGpio = 47 # pin BCM / built-in activity monitor LED for testing
#
# some possible values for AudioFile:
#
#   AudioFile: '/home/pi/relay/audio/PPParSndFX_OoogaHornl01Mono.mp3'
#   AudioFile: '/home/pi/relay/audio/8TrackWavFile.wav'
#   AudioFile: '/home/pi/relay/audio/PPParFunnySoundDrumHit01.wav'
#
# if AudioFile is specified, it should be a fully-qualified path to a wav or
# mp3 file suitable for playback using vnc
#==============================================================================

RelayGpio: 0
AudioFile: '/home/pi/relay/audio/PPParFunnySoundDrumHit01.wav'

#==============================================================================
# end
#==============================================================================
